{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "extension": [".ts"],
  "include": [
    "api",
    "src"
  ],
  "exclude": [
    "**/*.test.ts"
  ],
  "statements": 100,
  "branches": 100,
  "functions": 100,
  "lines": 100
}
