name: Detox E2E CI

on:
  workflow_dispatch:
    inputs:
      prNumber:
        description: pr number to trigger on
        required: true

jobs:
  ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: checkout PR
        run: gh pr checkout ${{ github.event.issue.number || github.event.inputs.prNumber }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@master
        with:
          node-version: 14.x
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn
      - name: Install applesimutils
        run: |
          brew tap wix/brew
          brew install applesimutils
      - name: Build
        run: yarn e2e:build -c ios.staging
      - name: Test
        run: yarn e2e:test -c ios.staging
  android:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: checkout PR
        run: gh pr checkout ${{ github.event.issue.number || github.event.inputs.prNumber }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@main
        with:
          node-version: 14.x
          cache: yarn
      - name: get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Install node dependencies
        run: |
          yarn install --frozen-lockfile
      - name: Build
        run: yarn detox build -c android.staging
      - name: Run
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          avd-name: Nexus_5_API_30
          script: |
            mkdir ./temp
            curl -f -o ./temp/test-butler-app.apk https://repo1.maven.org/maven2/com/linkedin/testbutler/test-butler-app/2.2.1/test-butler-app-2.2.1.apk
            adb install ./temp/test-butler-app.apk || adb install ./e2e/test-butler-app.apk
            yarn detox test -c android.staging
